.layout-container {
    height: 100vh;
    display: flex;
    background-color: #FFFFFF;

}

.ant-layout-header {
    background-color: #ffffff;
    height: 80px;
}

.ant-layout-content {
    background-color: #fff;
}

.layout-content {
    padding: 30px;
}

.table-filters {
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    gap: 8px;



    .filter-selector {
        width: 100px;
    }

    .ant-input-affix-wrapper {
        width: 250px;
    }
}

